<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 40px;">
        <form action="/northwind/searchresults">
            <input type="text" class="form-control" placeholder="Product Search" name="searchText" />
            <br />
            <button class="btn btn-success">Search</button>
        </form>
    </div>
</body>
</html>