@using WebApplication8.Models
@model SearchData

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>You searched for @Model.SearchText</h1>
</div>
</body>
</html>